services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auction_app
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/auction_db?replicaSet=rs0
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=production
    depends_on:
      - mongo
      - redis
    networks:
      - app_network

    volumes:
      - ./backend/logs:/app/backend/logs

  mongo:
    image: mongo:6.0
    container_name: auction_mongo
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports:
      - "27017:27017"
    networks:
      - app_network
    volumes:
      - mongo_data:/data/db

    healthcheck:
      test: test $$(echo "rs.initiate({_id:'rs0',members:[{_id:0,host:'mongo:27017'}]}).ok || rs.status().ok" | mongosh --port 27017 --quiet) -eq 1
      interval: 10s
      start_period: 30s

  redis:
    image: redis:alpine
    container_name: auction_redis
    ports:
      - "6379:6379"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  mongo_data:
